.section-hero {
    margin-left: 100px;
    min-height: 100vh;
    background-color: var(--cinza800);
}

.h2-titulo-hero {
    padding-top: 40px;
    text-align: center;
    color: var(--cinza100);
    font-size: 3rem;
    font-weight: 400;
}

.h2-titulo-hero span {
    color: var(--laranja750);
}

.div-hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 100px;
    padding-bottom: 50px;
}

.div-jogo-principal {
    width: 800px;
    margin: auto;
}

.div-jogo-principal img {
    width: 800px;
    height: auto;
    border-radius: 40px;
}

.div-jogo-principal h2 {
    color: var(--cinza100);
}

.div-jogo-principal p {
    color: var(--cinza400);
}

.div-todos-jogos {
    padding-top: 200px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.div-jogos {
    width: 500px;
}

.div-jogos img {
    width: 500px;
    height: 280px;
    object-fit: cover;
    border-radius: 40px;
}

.div-jogos h2 {
    color: var(--cinza100);
}

.div-jogos p {
    color: var(--cinza400);
}

.hero-coluna2 h2 {
    text-align: center;
    color: var(--laranja750);
}

.tabela-times {
    width: 450px;
    margin: 40px auto;
    padding: 50px 20px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: var(--cinza700);
}

.linha-tabela {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linha-tabela div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.linha-tabela div img {
    width: 50px;
}

.linha-tabela div p {
    color: var(--cinza100);
    font-size: 22px;
    font-weight: 500;
}

.linha-tabela div span {
    color: var(--cinza100);
}

.linha-tabela #time-pontos {
    color: var(--cinza100);
    font-size: 22px;
}